*{
  box-sizing: border-box;
}
.card {
  height: 178px;
  background: #ffffff;
  border: 1px solid rgba(173, 173, 173, 0.25);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  display: flex;
  gap: 15px;
  padding: 5px;
}

.productImage {
  height: 100%;
  width: 45%;
}
.details {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  /* padding: 10px; */
}
.cancelledPrice {
  text-decoration: line-through;
}
.details p:nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* grey/500 */

  color: #64748b;
}

.details p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* grey/700 */

  color: #334155;
}

.details p:nth-child(3) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;

  /* grey/700 */

  color: #334155;
}

span {
  margin-right: 10px;
}

.details p:nth-child(4) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height, or 122% */

  display: flex;
  align-items: center;

  color: #17b288;
}
