* {
  margin: 0;
  padding: 0;
}

.navBox {
  height: 89vh;
  width: 15%;
  background-color: #0f172a;
  padding: 1.2rem;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.options {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 12px;
}
.options p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  color: #94a3b8;
  /* Inside auto layout */
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

